/* Code tidied up by ScrapBook */
@font-face {
  font-family: "flexslider-icon";
  font-style: normal;
  font-weight: normal;
  src: url("flexslider-icon.eot") format("embedded-opentype"), url("flexslider-icon.woff") format("woff"), url("flexslider-icon.ttf") format("truetype"), url("flexslider-icon.svg") format("svg");
}
@media screen and (max-width: 860px) {
}
